body {
    background-color: darkgray;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
}

h4{
color:aqua;
}

#camera{
    width:500px;
    height:400px;
    border:1px solid red
}

img {
    width:37%;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 6px 8px 0 aqua;
}

.column{
    display: inline;
    padding:10px;
}

img:hover{
    border-radius:140px;
}